@import "~materialize-css/dist/css/materialize.min.css";


.brand-logo-custom {
    margin-left: 1rem;
}

.auth-logo-custom{
    color: #00796b;
}

.auth-btn-custom{
    margin: 0.3rem;
}

.card-create-model-custom{
    height: 300px;
}